@media only screen and (min-width: 300px) and (max-width: 1000px) {
    body {
        background-color: #1b1b1b;
    }

    #myName {
    font-size: 2.5em;
    align-items: center;
    }

    #topContainer{
        position: fixed;
        display: flex;
    }

    #home, #workExperience, #sideProjects, #contact {
    font-size: 0.7em;
    padding: 0.4em;
    }

    #home:hover, #workExperience:hover, #sideProjects:hover, #contact:hover {
        text-decoration: underline;
    }

    #homeContainer {
        position: relative;
        display: flex;
        text-align: center;
        padding: 10px 20px;
        background-image: radial-gradient(circle, #0c0e55, #000000);
        max-width: 100%;
        min-height: 70vh;
        flex-direction: column;
    }

    #myName{
        position: absolute;
        font-family: 'TCB', serif;
        font-size: 4em;
        text-align: center;
        margin-top: 1em;
        color: #f4f4ee;
        opacity: 0; 
        animation: easeInUp 1.5s ease-out forwards;
    }

    #blockText{
        position: absolute;
        font-family: 'courier';
        font-size: 0.9em;
        text-align: center;
        margin-top: -4em;
        color: #f4f4ee;
        opacity: 0; 
        animation: easeInUp2 1.5s ease-out forwards;
    }

    #workExpContainer{
        position: relative;
        background-image: radial-gradient(circle, #0c0e55, #000000);
        height: 600px;
        user-select: none;
    }

    .whiteBorder{
        position: absolute;
        width: 2px;
        height: 45sem;
        background-color: white;
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
        border-radius: 1px; 
        animation: flicker 1.5s infinite;
    }

    #workExperienceTitle{
        position: absolute;
        font-family: 'TCB';
        font-size: 3em;
        text-align: center;
        top: -0.8em;
        color: #f4f4ee;
        z-index: 3;
    }

    #MBDABox{
        position: absolute;
        font-family: courier;
        font-size: 0.9em;
        color:#f4f4ee;
        text-align: center;
        margin-top: -1em;
        border-style: solid;
        border-color:#000000;
        background-image: radial-gradient(circle, #0c0e55, #000000);
        border-radius: 5%;
        border-width: 0.1em;
        cursor: pointer;
    }

    #iconContainer{
        display: flex;
        flex-direction: row;
        position: absolute;
        scale: 30%;
        text-align: center;
        top: 14em;
    }
    
    #pythonInfo, #raspberryPIInfo, #teamworkingInfo{
        display: none;
        position: absolute;
        font-family: 'courier';
        font-size: 0.9em;
        color: #f4f4ee;
    }
    
    #sideProjContainer{
        position: relative;
        display: flex;
        padding: 10px 20px;
        max-width: 100%;
        min-height: 80vh;
        height: 87.5em;
        flex-direction: column;
    }
    
    #sideProjTitle{
        position: absolute;
        font-family: 'TCB', serif;
        font-size: 3em;
        left: 0.2em;
        top: -0.8em;
        color: #f4f4ee;
    }
    
    #tcasImg{
        position: absolute;
        top: -4em;
        scale: 40%;
        left: -9em;
        border-radius: 5%;
    }

    #tcasTitle{
        position: absolute;
        font-family: 'TCB', serif;
        font-size: 1.5em;
        left: 1.5em;
        top: 2em;
        color: #f4f4ee;
    }
    
    #tcasText{
        position: absolute;
        font-family: 'courier';
        font-size: 0.9em;
        left: 1em;
        top: 26em;
        color: #f4f4ee;
    }

    #flightSimImg{
        position: absolute;
        top: 27em;
        scale: 45%;
        left: -6em;
        border-radius: 5%;
    }
    
    #flightSimTitle{
        position: absolute;
        font-family: 'TCB', serif;
        font-size: 1.6em;
        left: 1em;
        top: 20em;
        color: #f4f4ee;
    }
    
    #flightGmInfo{
        position: absolute;
        font-family: 'courier';
        font-size: 0.9em;
        left: 1em;
        top: 58em;
        color: #f4f4ee;
    }
    
    #portfolioImg{
        position: absolute;
        top: 51em;
        scale: 30%;
        left: -17em;
        border-radius: 5%;
    }
    
    #portfolioTitle{
        position: absolute;
        font-family: 'TCB', serif;
        font-size: 1.6em;
        left: 1em;
        top: 38em;
        color: #f4f4ee;
    }
    
    #portfolioText{
        position: absolute;
        font-family: 'courier';
        font-size: 0.9em;
        left: 1em;
        top: 88em;
        color: #f4f4ee;
    }

    #contactsContainer{
        position: relative;
        background-color: #080808;
        max-height: 18vh;
        user-select: none;
    }

    #contactsTitle{
        position: absolute;
        font-family: 'TCB', serif;
        font-size: 3em;
        left: 3.5em;
        top: -1em;
        color: #f4f4ee;
    }
    
    #contactsInfo1, #contactsInfo2{
        font-family: 'courier';
        font-size: 20px;
        border-radius: 30px;
        cursor: pointer;
        border: 2px solid #232121;
        box-shadow: #232121 4px 4px 0 0;
        font-weight: 600;
    }
    
    #contactsInfo1{
        position: absolute;
        left: 6em;
        top: 4em;
        background-color: #f4f4ee;
        color: #232121;
    }
    
    #contactsInfo2{
        position: absolute;
        left: 13em;
        top: 4em;
        background-color: #f4f4ee;
        color: #232121;
    }

    .whiteBorder2{
        position: absolute;
        width: 2px;
        top: 0;
        height: 10.2em;
        background-color: white;
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
        border-radius: 1px; 
        animation: flicker 1.5s infinite;
    }

    #contactText{
        position: absolute;
        font-family: 'courier';
        font-size: 0.9em;
        left: 8em;
        top: 2.5em;
        color: #f4f4ee;
    }

}
